{% extends "base.html" %}

{% block content %}

<main class="w-screen mx-auto p-0 m-0">
    <h2 class="font-bold text-3xl mb-8 text-center w-full pb-12">Calendar</h2>
    <div class="w-full flex flex-col lg:flex-row items-center justify-center">
        <div class="">
            <div class="calendar-container lg:mr-8">
                <div class="calendar-header flex justify-between items-center mb-4">
                    <button class="prev-month text-lg font-bold interactable">❮</button>
                    <h3 id="calendarMonthYear" class="text-xl font-semibold "></h3>
                    <button class="next-month text-lg font-bold interactable">❯</button>
                </div>
                <div class="calendar-grid grid grid-cols-7 gap-2">
                    <div class="day-name">Sun</div>
                    <div class="day-name">Mon</div>
                    <div class="day-name">Tue</div>
                    <div class="day-name">Wed</div>
                    <div class="day-name">Thu</div>
                    <div class="day-name">Fri</div>
                    <div class="day-name">Sat</div>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center lg:px-16">
            <div id="events" class="mt-6">
            </div>
            <button class="flex items-center gap-4 border px-2 py-4 hover:bg-slate-900 transition rounded-lg mt-8 interactable" id="openDialog">
                <ion-icon name="add-circle-outline" size="large"></ion-icon>
                <h3 class="text-xl font-semibold">New Appointment</h3>
            </button>
        </div>

<dialog class="relative max-w-[24rem]" id="newDialog">
    <h1 class="my-4">Book an appointment</h1>
    <button id="closeBtn" class="absolute right-2 top-2"><ion-icon name="close-circle-outline" size="large" class="text-white"></ion-icon></button>
    <form id="appointmentForm" action="" method="POST" class="flex flex-col">                
        <div class="dropdown relative inline-block text-left">
            <div>
                <button id="dropdownButton" type="button"
                class="inline-flex justify-between items-center w-full rounded-lg border border-slate-800 shadow-sm px-4 py-2 bg-cyan-600 hover:bg-cyan-500 text-sm font-medium text-[#dadada]">
                <span id="dropdownLabel">Select an option</span>
                <ion-icon name="chevron-down-outline" class="ml-2 text-lg"></ion-icon>
            </button>
            </div>
        
            <div id="dropdownMenu" class="hidden w-full origin-top-right absolute right-0 mt-2 rounded-lg shadow-lg  font-semibold z-10">
            <div role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <label class="flex items-center px-4 py-2 text-sm text-[#dadada] cursor-pointer rounded-t-lg bg-cyan-600 hover:bg-cyan-500" role="menuitem">
                <input type="radio" hidden name="dropdown-options" class="form-radio h-4 w-4 text-indigo-600" value="Therapy">
                <span>Therapy</span>
                </label>
                <label class="flex items-center px-4 py-2 text-sm text-[#dadada] cursor-pointer bg-cyan-600 hover:bg-cyan-500" role="menuitem">
                <input type="radio" hidden name="dropdown-options" class="form-radio h-4 w-4 text-indigo-600" value="Exercise">
                <span>Exercise</span>
                </label>
                <label class="flex items-center px-4 py-2 text-sm text-[#dadada] cursor-pointer  bg-cyan-600 hover:bg-cyan-500" role="menuitem">
                <input type="radio" hidden name="dropdown-options" class="form-radio h-4 w-4 text-indigo-600" value="Yoga">
                <span>Yoga</span>
                </label>
                <label class="flex items-center px-4 py-2 text-sm text-[#dadada] cursor-pointer  bg-cyan-600 hover:bg-cyan-500 rounded-b-lg" role="menuitem">
                <input type="radio" hidden name="dropdown-options" class="form-radio h-4 w-4 text-indigo-600" value="Consult a Doctor">
                <span>Consult a Doctor</span>
                </label>
            </div>
            </div>
        </div>
        <input type="datetime-local" id="appointmentDatetime" class="rounded-lg p-2 mb-4 bg-cyan-600 hover:bg-cyan-500 text-[#dadada] font-semibold">
        <button class="btn-2" id="confirmBtn">Confirm</button>
        <p id="errorMessage" class="text-red-500 mt-2"></p>
    </form>
</dialog>

        <dialog class="relative px-8 py-16 pt-20" id="confirmDialog">
            <h1>Appointment confirmed!</h1>
            <p>Check your email for more details</p>
            <button value="cancel" formmethod="dialog" id="closeBtnconfirm" class="absolute right-2 top-2">
              <ion-icon name="close-circle-outline" size="large" class="text-white"></ion-icon>
            </button>
        
        </dialog>
    </div>
</main>

<script>
    const tabs = document.querySelectorAll('.date');
    const calendarGrid = document.querySelector('.calendar-grid');
    const eventsContainer = document.getElementById('events');
    let selectedDate;
    
    // Calendar initialization
    const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
    let currentMonth = new Date().getMonth();
    let currentYear = new Date().getFullYear();
    
    function renderCalendar(month, year) {
        const firstDay = new Date(year, month).getDay();
        const daysInMonth = new Date(year, month + 1, 0).getDate();
    
        calendarGrid.innerHTML = '<div class="day-name">Sun</div><div class="day-name">Mon</div><div class="day-name">Tue</div><div class="day-name">Wed</div><div class="day-name">Thu</div><div class="day-name">Fri</div><div class="day-name">Sat</div>';
        
        for (let i = 0; i < firstDay; i++) {
            calendarGrid.innerHTML += `<div></div>`;
        }
    
        for (let day = 1; day <= daysInMonth; day++) {
            let date = new Date(year, month, day, 5, 30).toISOString().split('T')[0];
            calendarGrid.innerHTML += `<button class="date interactable rounded-lg p-2 w-12 lg:w-16" data-date="${date}">${day}</button>`;
        }
    
        document.getElementById('calendarMonthYear').textContent = `${monthNames[month]} ${year}`;
    }
    
    document.querySelector('.prev-month').addEventListener('click', () => {
        currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
        currentYear = (currentMonth === 11) ? currentYear - 1 : currentYear;
        renderCalendar(currentMonth, currentYear);
    });
    
    document.querySelector('.next-month').addEventListener('click', () => {
        currentMonth = (currentMonth === 11) ? 0 : currentMonth + 1;
        currentYear = (currentMonth === 0) ? currentYear + 1 : currentYear;
        renderCalendar(currentMonth, currentYear);
    });
    
    calendarGrid.addEventListener('click', (e) => {
        if (e.target.classList.contains('date')) {
            const activern = document.querySelector('.active')
            if (activern) {
                activern.classList.remove('active')
            }
            selectedDate = e.target.dataset.date;
            e.target.classList.add('active');
            fetchEvents(selectedDate);
        }
    });
    
    function fetchEvents(date) {
        fetch(`/events/${date}`)
        .then(response => response.json())
        .then(data => {
            displayEvents(data);
        });
    }

    iconmap = {
    'Yoga': '<i class="fa-solid fa-yin-yang"></i>',
    'Therapy': '<i class="fa-solid fa-people-arrows"></i>',
    'Exercise': '<i class="fa-solid fa-dumbbell"></i>',
    'Consult a Doctor': '<i class="fa-solid fa-stethoscope"></i>'
}

    
    function displayEvents(events) {
        if (events.length === 0) {
            eventsContainer.innerHTML = '<p class="text-2xl py-4 font-semibold">Nothing today</p>'; 
        } else {
            eventsContainer.innerHTML = events.map(event => `
                <div class="appointment my-12">
                    <div class="time mr-8 whitespace-nowrap">
                        ${new Date(event.datetime).toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'})}
                    </div>
                    <div class="details flex justify-between bg-darkfg">
                        <div class="flex items-center gap-2">
                            ${iconmap[event.type]}
                            <p>${event.type}</p>
                        </div>
                        <a class="text-white rounded-full joinbtn border px-3 py-1 hover:bg-cyan-400 hidden" href=${event.meetlink} data-time=${event.datetime} target="_blank">Join</a>
                    </div>
                </div>
            `).join('');
    
            enableJoinButtons(); 
        }
    }
    
    function enableJoinButtons() {
        const joinbtns = document.querySelectorAll('.joinbtn');
    
        joinbtns.forEach(jbtn => {
            let dt = jbtn.dataset.time;
    
            if (dt) {
                dt = new Date(dt);
                const currentTime = new Date();
    
                const differenceInMilliseconds = dt - currentTime;
                const thirtyMinutesInMilliseconds = 30 * 60 * 1000;
    
                if (differenceInMilliseconds <= thirtyMinutesInMilliseconds && differenceInMilliseconds >= 0) {
                    jbtn.classList.remove('hidden');
                } else {
                    jbtn.classList.add('hidden');
                }
            }
        });
    }
    
    renderCalendar(currentMonth, currentYear);
    
    const now = new Date();
    now.setHours(now.getHours() + 5);
    now.setMinutes(now.getMinutes() + 30);
    const timestr = now.toISOString().split('T')[0];
    const datebtn = document.querySelector(`[data-date="${timestr}"]`);
    datebtn.classList.add('active');
    fetchEvents(timestr);
    
    // Dialog and dropdown interactions
    const showButton = document.querySelector('#openDialog');
    const Dialog = document.querySelector('#newDialog');
    const confirmBtn = Dialog.querySelector('#confirmBtn');
    const closeBtn = Dialog.querySelector('#closeBtn');
    const inputEl = Dialog.querySelector('input[type="datetime-local"]');
    
    const Dialogconfirm = document.querySelector('#confirmDialog');
    const closeBtnconfirm = Dialogconfirm.querySelector('#closeBtnconfirm');

    const bookError = document.getElementById('errorMessage');
    
    closeBtnconfirm.addEventListener('click', (event) => {
        event.preventDefault();
        Dialogconfirm.close(); 
    });
    
    closeBtn.addEventListener('click', (event) => {
        event.preventDefault();
        Dialog.close(); 
    });
    
    showButton.addEventListener('click', () => {
        Dialog.showModal();
    });
    
    confirmBtn.addEventListener('click', (event) => {
        event.preventDefault();
        
        const formData = {
            datetime: inputEl.value,
            type: document.querySelector('input[name="dropdown-options"]:checked').value,
        };
    
        fetch('/book-appointment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {

                Dialog.close();
                Dialogconfirm.showModal();

                fetchEvents(timestr);
            } else {
                bookError.textContent = data.message;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An unexpected error occurred. Please try again.');
        });

    });
    
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownButton = document.getElementById('dropdownButton');
        const dropdownMenu = document.getElementById('dropdownMenu');
        const dropdownLabel = document.getElementById('dropdownLabel');
        const radioButtons = document.querySelectorAll('input[name="dropdown-options"]');
    
        dropdownButton.addEventListener('click', function() {
            dropdownMenu.classList.toggle('hidden');
        });
    
        radioButtons.forEach(radio => {
            radio.addEventListener('click', function() {
                dropdownLabel.textContent = this.value;
                dropdownMenu.classList.add('hidden');
            });
        });
    
        document.addEventListener('click', function(event) {
            if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.add('hidden');
            }
        });
    });
    </script>
    



{% endblock %}
