{% extends "base.html" %}

{% block content %}
<main>
  <h1 class="font-bold text-3xl mb-12">Inventory</h1>

  <p class="border border-red bg-red-950 text- w-[100%] py-6 flex items-center justify-center font-bold rounded-xl alert max-w-[65%] mb-8 hidden"></p>

  <ul class="items">
    {% for item in inventory %}
    <li data-index="{{ loop.index }}" data-name="{{ item[0] }}" data-quantity="{{ item[1] }}" data-unit="{{ item[2] }}" class="item-wrapper">
      <p class="transition-colors duration-500">{{ item[0] }}</p>
      <button type="button" class="interactable text-red-500 mt-2 delete-btn p-1 border-none text-2xl hover:none" data-index="{{ loop.index }}"><ion-icon name="trash-outline" size=""></ion-icon></button> 
      <div class="status"><span id="quantity{{ loop.index }}">{{ item[1] }}</span> {{item[2]}}</div>
      <button class="btn interactable show-dialog">Update</button>
    </li>
    {% endfor %}
  </ul>

  <button class="flex items-center gap-4 border px-2 py-4 hover:bg-slate-900 transition rounded-lg mt-8 interactable" id="addItemBtn">
    <ion-icon name="add-circle-outline" size="large"></ion-icon>
    <h3 class="text-xl font-semibold">Add Item</h3>
  </button>

  <dialog id="updateDialog" class="relative">    
    <button value="cancel" id="updateCloseBtn" formmethod="dialog" class="absolute top-2 right-2 text-white interactable"><ion-icon size="large" name="close-circle-outline"></ion-icon></button>
    <h1>Update</h1>
    <form id="updateForm">
      <p id="itemName" class="text-[#dadada] font-bold text-2xl"></p>
      <div class="flex">
        <input type="number" placeholder="New Quantity" id="inputQuantity" class="text-[#dadada] inv-input flex-1">
        <select id="inputUnit" class="text-[#dadada] inv-input flex-1 ml-2 bg-none">
          <option class="bg-lightbg fg-[#fff]" value="kg">kg</option>
          
          <option class="bg-lightbg fg-[#fff]" value="l">l</option>
          
          <option class="bg-lightbg fg-[#fff]" value="units">units</option>
        </select>
      </div>
          <button id="confirmBtn" value="default" class="btn-2 interactable">Confirm</button>
    </form>
  </dialog>

  <dialog id="addItemDialog" class="relative min-w-[23rem]">
    <button type="button" id="cancelAddItemBtn" class="absolute top-2 right-2 text-white interactable"><ion-icon name="close-circle-outline" size="large"></ion-icon></button>
    <h1>Add New Item</h1>
    <form id="addItemForm">
      <input type="text" placeholder="Item Name" id="newItemName" class="text-[#dadada] inv-input" required>
      <input type="number" placeholder="Quantity" id="newItemQuantity" class="text-[#dadada] inv-input" required>
      <select id="inputUnit" class="text-[#dadada] inv-input flex-1 ml-2 bg-none">
        <option class="bg-lightbg fg-[#fff]" value="kg">kg</option>
        
        <option class="bg-lightbg fg-[#fff]" value="l">l</option>
        
        <option class="bg-lightbg fg-[#fff]" value="units">units</option>
      </select>
        <button id="addBtn" value="default" class="btn-2 interactable">Add</button>
    </form>
  </dialog>

  <dialog id="deleteDialog" class="">
    <div class="flex flex-col text-white items-center justify-center gap-6">
      <h1 class="m-0 p-0">Confirm Delete</h1>
      <p>Are you sure you want to delete this item?</p>
      <div class="w-full flex gap-2 justify-between">
        <button value="cancel" id="nodeletebtn" class="btn-2 interactable">No</button>
        <button id="confirmDeleteBtn" class="btn-2 interactable bg-red-500">Yes</button>
      </div>
    </div>
  </dialog>
</main>

<script>
  const updateDialog = document.getElementById('updateDialog');
  const addItemDialog = document.getElementById('addItemDialog');
  const deleteDialog = document.getElementById('deleteDialog');
  const inputQuantity = document.getElementById('inputQuantity');
  const inputUnit = document.getElementById('inputUnit');
  const confirmBtn = document.getElementById('confirmBtn');
  const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
  const addItemBtn = document.getElementById('addItemBtn');
  const cancelAddItemBtn = document.getElementById('cancelAddItemBtn');
  const itemName = document.getElementById('itemName');
  const updateForm = document.getElementById('updateForm');
  const addItemForm = document.getElementById('addItemForm');
  const nodeletebtn = document.getElementById('nodeletebtn');
  const updateCloseBtn = document.getElementById('updateCloseBtn');
  let currentItemIndex = null;

  const threshold = 5;

  document.addEventListener('DOMContentLoaded', () => {
    const inventoryData = {{ inventory | tojson }};
    checkQuantity(inventoryData);

    attachEventListeners();
    updateForm.addEventListener('submit', (event) => {
      event.preventDefault();
      confirmUpdate();
    });


    addItemBtn.addEventListener('click', () => {
      addItemDialog.showModal();
    });

    updateCloseBtn.addEventListener('click', () => {
      updateDialog.close();
    });

    nodeletebtn.addEventListener('click', () => {
      deleteDialog.close()
    });

    cancelAddItemBtn.addEventListener('click', () => {
      addItemDialog.close();
    });

    addItemForm.addEventListener('submit', (event) => {
      event.preventDefault();
      addNewItem();
    });
  });

  const blinkIntervals = {};

  function blink(item) {
    const intervalId = setInterval(() => {
      item.classList.toggle('blink');
    }, 750);
    return intervalId;
  }

  function stopBlink(item) {
    const itemName = item.textContent;
    if (blinkIntervals[itemName]) {
      clearInterval(blinkIntervals[itemName]);
      delete blinkIntervals[itemName];
      item.classList.remove('blink');
    }
  }

  function checkQuantity(param) {
    let jsinventory = param;
    let isAlert = false;
    const alert = document.querySelector('.alert');
    const lowItems = [];

    for (const i of jsinventory) {
      const itemLabel = document.querySelector(`[data-name="${i[0]}"]`).querySelector('p');

      if (parseInt(i[1]) < threshold) {
        lowItems.push(`${i[1]} ${i[2]} of ${i[0]}`);
        isAlert = true;

        if (!blinkIntervals[i[0]]) {
          blinkIntervals[i[0]] = blink(itemLabel);
        }
      } else {
        stopBlink(itemLabel);
      }
    };

    if (isAlert) {
      alert.classList.remove('hidden');
      alert.textContent = `Restock immediately: ${lowItems.join(', ')}`;
    } else {
      alert.classList.add('hidden');
    }
  }

  function confirmUpdate() {
    const newQuantity = inputQuantity.value;
    const newUnit = inputUnit.value;
    const name = itemName.textContent;
    updateDialog.close(newQuantity);

    if (newQuantity == 0) {
      deleteDialog.showModal();
    }

    else {if (currentItemIndex) {
      document.getElementById(`quantity${currentItemIndex}`).textContent = newQuantity;

      const button = document.querySelector(`.item-wrapper[data-index="${currentItemIndex}"]`);
      if (button) {
        button.setAttribute('data-quantity', newQuantity);
        button.setAttribute('data-unit', newUnit);
        button.querySelector('.status').innerHTML = `<span id="quantity${currentItemIndex}">${newQuantity}</span> ${newUnit}`;
      }
    }

    fetch('/update_inventory', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        name: name,
        quantity: newQuantity,
        unit: newUnit
      })
    })
    .then(response => response.json())
    .then(data => {
      checkQuantity(data.data);
    })
    .catch((error) => {
      console.error('Error:', error);
    });}
  }

  function deleteItem() {
  const name = itemName.textContent;
  deleteDialog.close();

  const itemWrapper = document.querySelector(`.item-wrapper[data-index="${currentItemIndex}"]`);
  if (itemWrapper) {
    itemWrapper.remove();
  }

  fetch('/delete_inventory', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      name: name
    })
  })
  .then(response => response.json())
  .then(data => {
    checkQuantity(data.data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}




  function addNewItem() {
  const newItemName = document.getElementById('newItemName').value;
  const newItemQuantity = document.getElementById('newItemQuantity').value;
  const newItemUnit = document.getElementById('inputUnit').value;
  addItemDialog.close();

  const newIndex = document.querySelectorAll('.item-wrapper').length + 1;
  const newListItem = `
  <li data-index="${newIndex}" data-name="${newItemName}" data-quantity="${newItemQuantity}" data-unit="${newItemUnit}" class="item-wrapper">
    <p class="transition-colors duration-500">${newItemName}</p>        
   <button type="button" class="interactable text-red-500 mt-2 delete-btn p-1 border-none text-2xl hover:none" data-index="${newIndex}"><ion-icon name="trash-outline" size=""></ion-icon></button> 
    <div class="status"><span id="quantity${newIndex}">${newItemQuantity}</span> ${newItemUnit}</div>
    <button class="btn interactable show-dialog">Update</button>
  </li>
`;

  document.querySelector('.items').insertAdjacentHTML('beforeend', newListItem);
  console.log(document.querySelector(`.item-wrapper[data-index="${newIndex}"]`));


  attachEventListeners();

  fetch('/update_inventory', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      name: newItemName,
      quantity: newItemQuantity,
      unit: newItemUnit
    })
  })
  .then(response => response.json())
  .then(data => {
    checkQuantity(data.data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}

function attachEventListeners() {
  document.querySelectorAll('.show-dialog').forEach(button => {
    button.addEventListener('click', () => {
      const itemWrapper = button.parentElement;
      currentItemIndex = itemWrapper.getAttribute('data-index');
      itemName.textContent = itemWrapper.getAttribute('data-name');
      inputQuantity.value = itemWrapper.getAttribute('data-quantity');
      inputUnit.value = itemWrapper.getAttribute('data-unit');
      updateDialog.showModal();
      inputQuantity.focus();
    });
  });

  document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', () => {
      currentItemIndex = button.getAttribute('data-index');
      itemName.textContent = document.querySelector(`.item-wrapper[data-index="${currentItemIndex}"]`).getAttribute('data-name');
      deleteDialog.showModal();
    });
  });

  confirmDeleteBtn.addEventListener('click', () => {
    deleteDialog.close();
    deleteItem();
  });
}

</script>
{% endblock %}