  {% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center lg:my-32">
  <svg width="100%" height="auto" viewBox="0 0 700 475" fill="none" xmlns="http://www.w3.org/2000/svg" class="blur-[100px] absolute z-[-1] ml-24 max-w-[50rem]">
    <defs>
      <style>
          @keyframes colorChange {
            0%, 100% { fill: rgb(9, 126, 180); }
            50% { fill: rgb(9, 46, 115); }
          }
          .blob {
            animation: colorChange 8s infinite linear;
          }
      </style>
    </defs>
    <path class="blob" d="M59.6878 70.4072C2.64247 112.7 -16.8108 220.14 15.7866 303.15C34.714 338.439 85.6079 417.473 137.764 451.308C202.958 493.601 346.492 482.305 380.666 392.728C414.841 303.151 608.848 251.138 582.56 142.122C556.271 33.1053 429.562 31.2664 323.621 6.83623C217.68 -17.5939 116.733 28.1141 59.6878 70.4072Z" fill="rgb(34 197 94)"/>
  </svg>
    <div class="bg-lightbg p-8 rounded-lg shadow-lg w-screen max-w-[30rem] mx-4">
        <h2 class="text-white text-2xl font-bold mb-6">Register</h2>
        <form class="log" method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <p class="text-red-700 py-2">{{ mess }}</p>

            <div class="mb-4">
                {{ form.username(class="w-full", placeholder="Username") }}
                {% if form.username.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.username.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                {{ form.email(class="w-full", placeholder="Email") }}
                {% if form.email.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.email.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="mb-6">
                {{ form.password(class="w-full", placeholder="Password") }}
                {% if form.password.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.password.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="flex items-center justify-between">
                {{ form.submit(class="btn") }}
            </div>
            <div class="flex gap-2">
              <p>Already have an account?</p>
              <a href="{{url_for('login')}}" class="hover:underline cursor-pointer text-cyan-200">
                Log In
              </a>
            </div>
        </form>
    </div>
</div>

<style>
.container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.card {
  width: 45%;
  margin: 0 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.log {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.log input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--cyan-400);
  font-size: 16px;
  background: none;
}

.log input:focus {
  outline: none;
  border-bottom-color: var(--cyan-100);
}
</style>
{% endblock %}
